<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Catsbreeds</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading">
  <!-- Aquí coloca tu código HTML para mostrar el spinner (por ejemplo, una animación de carga) -->
  <div class="spinner"></div>
</div>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoading">
    <ion-card *ngFor="let item of listCats">
      <ion-card-header>
        <ion-card-title>{{item.breedName}}</ion-card-title>
        <!-- <img [src]="item.imageUrl"> -->

        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <img
          [src]="item.imageUrl"
        />
      </ion-card-content>
      <ion-card-content>
        <span>País de origen: {{ item.origin }}</span>
        <span>Inteligencia: {{ item.intelligence }}</span>
      </ion-card-content>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
